# Autotools files
config.*
configure
depcomp
*.in
Makefile
install-sh
ltmain.sh
missing
libtool
autom4te.cache
!gfire_config_win.h.in
mingw.mak

# Intermediate files
*.o
*.lo
*.deps
stamp-*
REV
*.m4
POTFILES

# Libtool
*.la
*.lo
.libs

# Resulting files
gfire_config.h
*.gmo
win32-install
win32-install-dbgsym
*.zip
*.exe
*.dll
*.dll.dbgsym
*.tar.gz
*.tar.bz2

# Qt Creator Project Files
Gfire.*
