#include <winver.h>

VS_VERSION_INFO VERSIONINFO
  FILEVERSION 1,0,0,0
  PRODUCTVERSION 1,0,0,0
  FILEFLAGSMASK 0
  FILEFLAGS 0
  FILEOS VOS__WINDOWS32
  FILETYPE VFT_DLL
  FILESUBTYPE VFT2_UNKNOWN
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904B0"
      BEGIN
        VALUE "CompanyName", "The Gfire Team"
        VALUE "FileDescription", "Gfire - Xfire libpurple Plugin"
        VALUE "FileVersion", "1.0.0"
        VALUE "InternalName", "Gfire"
        VALUE "LegalCopyright", "Copyright (C) 2005-2010 The Gfire Team (See the COPYING file in the source distribution)."
        VALUE "OriginalFilename", "libxfire.dll"
        VALUE "ProductName", "Gfire"
        VALUE "ProductVersion", "1.0.0"
      END
    END
    BLOCK "VarFileInfo"
    BEGIN
      VALUE "Translation", 0x409, 1200
    END
  END